<a href="https://colab.research.google.com/github/saivenkat23/AI-Track-ML/blob/master/Assignment_7(b).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

dv=pd.read_excel('https://md-datasets-public-files-prod.s3.eu-west-1.amazonaws.com/a9ab6bb3-2fa3-4a9d-8c28-193bffdc088e')
dv.head()

         Date      Time   Load (kW)
0  01.09.2018  00:00:00  5551.82208
1         NaN  01:00:00  4983.17184
2         NaN  02:00:00  4888.39680
3         NaN  03:00:00  5072.95872
4         NaN  04:00:00  5196.25980

In [ ]:
dv.shape

(2184, 3)

In [ ]:
hour_1 = dv.iloc[0:-1, 2]
hour_2 = dv.iloc[1:, 2]
print(hour_1.shape)
print(hour_2.shape)

(2183,)
(2183,)

In [ ]:
#The index of hour_2 series starts from 1, so resetting the index
hour_2 = hour_2.reset_index()
hour_2 = hour_2['Load (kW)']

In [ ]:
df = pd.concat([hour_1, hour_2], axis = 1)
df.shape

(2183, 2)

In [ ]:
df.columns = ['Hour_1', 'Hour_2']
df.head

<bound method NDFrame.head of           Hour_1      Hour_2
0     5551.82208  4983.17184
1     4983.17184  4888.39680
2     4888.39680  5072.95872
3     5072.95872  5196.25980
4     5196.25980  5641.29720
...          ...         ...
2178  5045.52384  4626.51840
2179  4626.51840  4567.90752
2180  4567.90752  4723.63164
2181  4723.63164  5150.27520
2182  5150.27520  6938.37468

[2183 rows x 2 columns]>

In [ ]:
normalized_df = (df - df.mean()) / df.std()
normalized_df.head()

     Hour_1    Hour_2
0 -0.446228 -0.979915
1 -0.979438 -1.068773
2 -1.068307 -0.895734
3 -0.895247 -0.780131
4 -0.779630 -0.362881

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(normalized_df.Hour_1, normalized_df.Hour_2, test_size = 0.10, random_state = 42)

In [ ]:
m = 1 #Initial value of slope
c = -1 #Initial value of intercept
lr = 0.01 #Learning Rate
delta_m = 1 #Initialising Δm
delta_c = 1 #Initialising Δc
v_m = 0
v_c = 0
lam = 0.9
max_iters = 50 #Maximum number of iterations  
iters_count = 0 #Counting Iterations


def deriv(m_f, c_f, x, y, v1, v2):
  global lam
  m_deriv = -1 * (y - (m_f - lam * v1) * x - c_f + lam * v2) * x
  c_deriv = -1 * (y - (m_f - lam * v1) * x - c_f + lam * v2)
  return m_deriv, c_deriv  


while iters_count < max_iters:
  for i in range(x_train.shape[0]):
    delta_m, delta_c = deriv(m, c, x_train.iloc[i], y_train.iloc[i], v_m, v_c)
    v_m = lam * v_m - lr * delta_m
    v_c = lam * v_c - lr * delta_c
    m += v_m
    c += v_c
  iters_count += 1
  print(f"Iteration: {iters_count}\tValue of m: {m}, \tValue of c: {c}")
print(f"\nThe local minima occurs at: {m}, {c}")

Iteration: 1	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 2	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 3	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 4	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 5	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 6	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 7	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 8	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 9	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 10	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 11	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 12	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 13	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 14	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 15	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 16	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 17	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 18	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 19	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 20	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 21	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 22	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 23	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 24	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 25	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 26	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 27	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 28	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 29	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 30	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 31	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 32	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 33	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 34	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 35	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 36	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 37	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 38	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 39	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 40	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 41	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 42	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 43	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 44	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 45	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 46	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 47	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 48	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 49	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862
Iteration: 50	Value of m: 0.8497957222095366, 	Value of c: -0.15662392198536862

The local minima occurs at: 0.8497957222095366, -0.15662392198536862

In [ ]:
import numpy as np

x_train = np.array(x_train)
y_train = np.array(y_train)
x_test = np.array(x_test)
y_test = np.array(y_test)

y_pred_train = []
for i in x_train:
  y_p_tr = (m * i) + c
  y_pred_train.append(y_p_tr)
y_pred_train = np.array(y_pred_train)

y_pred_test = []
for i in x_test:
  y_p_te = (m * i) + c
  y_pred_test.append(y_p_te)
y_pred_test = np.array(y_pred_test)

In [ ]:
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error


#Training Accuracies
mse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', mse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)

Root mean square error 0.651899011077035
Mean square error 0.42497232064321616
Mean absolute error 0.43781836275406955

In [ ]:
#Testing Accuracies
mse = math.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('Root mean square error', mse) 
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)

Root mean square error 0.58744943002155
Mean square error 0.345096832832644
Mean absolute error 0.4057943073140245

In [ ]:
dec_1st = []
dec_1st.append(df.iloc[-1, 1])
for hour in range(24):
  normalised_pred = (dec_1st[-1] - df.mean()) / df.std()
  pred_load = m * normalised_pred + c
  pred_load = (pred_load * df.std()) + df.mean()
  dec_1st.append(pred_load)

In [ ]:
hour = input("Enter an hour(0-23) of 1st December, 2018 to predict the load")
print(f"Predicted Load (kW) at {hour} hours on 1st December, 2018: {dec_1st[1 + int(hour)][0]}")

Enter an hour(0-23) of 1st December, 2018 to predict the load23
Predicted Load (kW) at 23 hours on 1st December, 2018: 4956.352786883817