<a href="https://colab.research.google.com/github/saivenkat23/AI-Track-ML/blob/master/Assignment_6(b).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

file_name='https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DA0101EN/coursera/project/kc_house_data_NaN.csv'
df=pd.read_csv(file_name)
df.head()

   Unnamed: 0          id             date  ...     long  sqft_living15  sqft_lot15
0           0  7129300520  20141013T000000  ... -122.257           1340        5650
1           1  6414100192  20141209T000000  ... -122.319           1690        7639
2           2  5631500400  20150225T000000  ... -122.233           2720        8062
3           3  2487200875  20141209T000000  ... -122.393           1360        5000
4           4  1954400510  20150218T000000  ... -122.045           1800        7503

[5 rows x 22 columns]

In [2]:
df = df[['price', 'sqft_living']]
df

          price  sqft_living
0      221900.0         1180
1      538000.0         2570
2      180000.0          770
3      604000.0         1960
4      510000.0         1680
...         ...          ...
21608  360000.0         1530
21609  400000.0         2310
21610  402101.0         1020
21611  400000.0         1600
21612  325000.0         1020

[21613 rows x 2 columns]

In [3]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df = scaler.fit_transform(df)

df= pd.DataFrame(data=df, columns=["price","sqft_living"])
df

          price  sqft_living
0     -0.866717    -0.979835
1     -0.005688     0.533634
2     -0.980849    -1.426254
3      0.174090    -0.130550
4     -0.081958    -0.435422
...         ...          ...
21608 -0.490545    -0.598746
21609 -0.381588     0.250539
21610 -0.375865    -1.154047
21611 -0.381588    -0.522528
21612 -0.585882    -1.154047

[21613 rows x 2 columns]

In [4]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df.iloc[:, 1], df.iloc[:, 0], test_size = 0.10, random_state = 42)

In [5]:
batch_size = 32
n_minibatches = x_train.shape[0] // batch_size

def create_mini_batches(x_tr, y_tr, batch_size):
    mini_batches = [] 
    global n_minibatches
    for i in range(n_minibatches + 1): 
        X_mini = x_tr.iloc[i * batch_size : (i + 1) * batch_size]
        Y_mini = y_tr.iloc[i * batch_size : (i + 1) * batch_size]
        mini_batches.append((X_mini, Y_mini)) 
        if x_tr.shape[0] % batch_size != 0:
            X_mini = x_tr.iloc[i * batch_size: x_tr.shape[0]]
            Y_mini  = y_tr.iloc[i * batch_size: y_tr.shape[0]]
        mini_batches.append((X_mini,Y_mini)) 
    return mini_batches 

mini_batches_all = create_mini_batches(x_train, y_train, batch_size)

In [6]:
m = 1 #Initial value of slope
c = -1 #Initial value of intercept
lr = 0.01 #Learning Rate
delta_m = 1 #Initialising Δm
delta_c = 1 #Initialising Δc
max_iters = 10 #Maximum number of iterations  
iters_count = 0 #Counting Iterations

def deriv(m_f, c_f, x, y):
  m_deriv = -1*(y-m_f*x-c_f)*x
  c_deriv = -1*(y-m_f*x-c_f)
  return m_deriv, c_deriv  


while iters_count < max_iters:
  for i in range(x_train.shape[0]):
    delta_m, delta_c = deriv(m, c, x_train.iloc[i], y_train.iloc[i])
    delta_m = -lr * delta_m
    delta_c = -lr * delta_c
    m += delta_m
    c += delta_c
  iters_count += 1
  print(f"Iteration: {iters_count}\tValue of m: {m}, \tValue of c: {c}")

print(f"\nThe local minima occurs at: {m}, {c}")

Iteration: 1	Value of m: 0.7447646638108749, 	Value of c: 0.01792098833683098
Iteration: 2	Value of m: 0.7447646638108749, 	Value of c: 0.01792098833683098
Iteration: 3	Value of m: 0.7447646638108749, 	Value of c: 0.01792098833683098
Iteration: 4	Value of m: 0.7447646638108749, 	Value of c: 0.01792098833683098
Iteration: 5	Value of m: 0.7447646638108749, 	Value of c: 0.01792098833683098
Iteration: 6	Value of m: 0.7447646638108749, 	Value of c: 0.01792098833683098
Iteration: 7	Value of m: 0.7447646638108749, 	Value of c: 0.01792098833683098
Iteration: 8	Value of m: 0.7447646638108749, 	Value of c: 0.01792098833683098
Iteration: 9	Value of m: 0.7447646638108749, 	Value of c: 0.01792098833683098
Iteration: 10	Value of m: 0.7447646638108749, 	Value of c: 0.01792098833683098

The local minima occurs at: 0.7447646638108749, 0.01792098833683098

In [7]:
import numpy as np

x_train = np.array(x_train)
y_train = np.array(y_train)
x_test = np.array(x_test)
y_test = np.array(y_test)

y_pred_train = []
for i in x_train:
  y_p_tr = (m * i) + c
  y_pred_train.append(y_p_tr)
y_pred_train = np.array(y_pred_train)

y_pred_test = []
for i in x_test:
  y_p_te = (m * i) + c
  y_pred_test.append(y_p_te)
y_pred_test = np.array(y_pred_test)

In [8]:
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error


#Training Accuracies
mse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', mse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)

Root mean square error 0.708539078375908
Mean square error 0.5020276255857811
Mean absolute error 0.48102026220547345

In [9]:
#Testing Accuracies
mse = math.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('Root mean square error', mse) 
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)

Root mean square error 0.7580669350770413
Mean square error 0.5746654780570991
Mean absolute error 0.4994550411514115